{% extends "layout.html" %}

{% block title %}
  {{ year }} {{ make }} {{ model }} gas mileage
{% endblock %}

{% block content %}
  <main class="pb-5">
    <section class="container p-5 bg-white bg-gradient rounded-3 shadow-lg text-center my-4">
      <h1 class="display-2 mb-4">
        <a href="{{ yearLink }}" class="text-reset text-decoration-none">{{ year }}</a>
        <a href="{{ makeLink }}" class="text-reset text-decoration-none">{{ make }}</a>
        <a href="{{ modelLink }}" class="text-reset text-decoration-none">{{ model }}</a>
      </h1>

      <p class="h4 fw-light text-secondary mb-4">Average gas mileage across configurations:</p>
      <div class="d-flex justify-content-center">

        <h2 class="lh-1 d-flex flex-column-reverse align-items-center ms-4">
          <div class="d-flex flex-row rounded position-relative border border-2 border-warning">
            <span class="d-flex align-items-center p-2 bg-warning fs-3">
              {% if isElectric %}
                <i class="fas fa-charging-station text-black-50"></i>
              {% else %}
                <i class="fas fa-gas-pump text-black-50"></i>
              {% endif %}
            </span>
            <span class="d-flex flex-column align-items-center p-2 px-3 fw-bolder bg-white rounded">
              <span class="fs-1">{{ mpgCity | round }}</span>
              {% if isElectric %}
                <abbr title="miles per gallon equivalent" class="fs-6 text-secondary fw-normal">MPGe</abbr>
              {% else %}
                <abbr title="miles per gallon" class="fs-6 text-secondary fw-normal">MPG</abbr>
              {% endif %}
            </span>
          </div>
          <span class="mb-n1 fs-6 pt-1 pb-2 d-flex align-self-stretch justify-content-center bg-light fw-bold rounded">City</span>
        </h2>

        <h2 class="lh-1 d-flex flex-column-reverse align-items-center ms-4">
          <div class="d-flex flex-row rounded position-relative border border-2 border-warning">
            <span class="d-flex align-items-center p-2 bg-warning fs-3">
              {% if isElectric %}
                <i class="fas fa-charging-station text-black-50"></i>
              {% else %}
                <i class="fas fa-gas-pump text-black-50"></i>
              {% endif %}
            </span>
            <span class="d-flex flex-column align-items-center p-2 px-3 fw-bolder bg-white rounded">
              <span class="fs-1">{{ mpgHighway | round }}</span>
              {% if isElectric %}
                <abbr title="miles per gallon equivalent" class="fs-6 text-secondary fw-normal">MPGe</abbr>
              {% else %}
                <abbr title="miles per gallon" class="fs-6 text-secondary fw-normal">MPG</abbr>
              {% endif %}
            </span>
          </div>
          <span class="mb-n1 fs-6 pt-1 pb-2 d-flex align-self-stretch justify-content-center bg-light fw-bold rounded">Highway</span>
        </h2>

      </div>
    </section>

    <section class="container py-5">
      <h3 class="display-6">Configurations</h3>
      <table class="table table-hover" style="max-width: 60em;">
        <thead>
          <tr>
            <th></th>
            <th>City</th>
            <th>Highway</th>
            <th>Combined</th>
          </tr>
        </thead>
        <tbody>
          {% for variant in variants %}
            <tr>
              <td>{{ variant.modelVerbose }} {{ variant.trany }} {{ variant.eng_dscr }}</td>
              <td>{{ variant.city08 }} MPG{% if variant.fuelType1 === 'Electricity' %}e{% endif %}</td>
              <td>{{ variant.highway08 }} MPG{% if variant.fuelType1 === 'Electricity' %}e{% endif %}</td>
              <td>{{ variant.comb08 }} MPG{% if variant.fuelType1 === 'Electricity' %}e{% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

  </main>
{% endblock %}
