{% extends "layout.html" %}

{% block title %}
  {{ makeModelYear.name }} gas mileage
{% endblock %}

{% block content %}
  <main>
    <section class="container text-center">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">{{ makeModelYear.name }} gas mileage</h1>
          <p class="lead text-muted">
            <!-- TODO -->
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <h2>Configurations</h2>
        <ul class="column-count-3">
          {% for variant in variants %}
            <li>
              {{ variant.modelVerbose }} {{ variant.trany }} {{ variant.eng_dscr }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </main>
{% endblock %}
