{% extends "page.html" %}

{% block body %}
  <nav class="d-flex justify-content-between container py-3 mb-1">
    <a class="text-uppercase fw-bold py-1 text-decoration-none text-secondary" href="/"><i class="fas fa-gas-pump me-2"></i>MPG Ratings</a>
    <form class="d-flex">
      <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-link btn-sm text-secondary" type="submit">
        <i class="fas fa-search"></i>
        <span class="visually-hidden">Submit</span>
      </button>
    </form>
  </nav>

  {% block content %}{% endblock %}
{% endblock %}
