{% extends "page.html" %}

{% block body %}
  <nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">MPG Ratings</a>
      <form class="d-flex">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
          <span class="visually-hidden">Search</span>
        </button>
      </form>
    </div>
  </nav>

  {% block content %}{% endblock %}
{% endblock %}
