{% extends "layout.html" %}

{% block title %}
  {{ model.name }} gas mileage: MPG ratings for {{ model.name }} by year
{% endblock %}

{% block content %}
  <main>
    <section class="container text-center">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">{{ model.name }} gas mileage</h1>
          <p class="lead text-muted">See how the fuel economy of the {{ model.name }} has changed over the years.</p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <ul class="list-unstyled column-count-4">
          {% for car in cars %}
            <li>
              <a href="{{ car.link }}" class="btn btn-link">
                {{ car.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </main>
{% endblock %}
