{% extends "layout.html" %}

{% block title %}
  Gas mileage by car model
{% endblock %}

{% block content %}
  <main>
    <section class="container text-center">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Gas mileage by car model</h1>
          <p class="lead text-muted">
            <!-- TODO -->
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <ul class="list-unstyled column-count-6">
          {% for model in models %}
            <li>
              <a href="{{ model.link }}" class="btn btn-link text-start">
                {{ model.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </main>
{% endblock %}
